@font-face {
    font-family: 'Yekan';
    src: url('./Yekan-Font-master/'); /* IE9 Compat Modes */
    src: url('./Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Yekan-Font-master/Yekan.woff2') format('woff2'), /* Modern Browsers */
    url('./Yekan-Font-master/Yekan.woff') format('woff'), /* Modern Browsers */
    url('./Yekan-Font-master/Yekan.otf') format('opentype'), /* Open Type Font */
    url('./Yekan-Font-master/Yekan.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./Yekan-Font-master/Yekan.svg#Yekan') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Yekan'; 
   background: rgb(86,11,173);
    background: linear-gradient(62deg, rgba(86,11,173,1) 0%, rgba(75,16,100,1) 100%);
   height: 100vh;
   direction: rtl;
}

.menu {
      width: 900px;
      margin: 0 auto;
}

.menu ul {
    list-style: none;
    margin-top: 3%;
}

.menu ul li {
    width: 125px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    float: right;
    font-size: 16px;
    position: relative; 
}

.menu ul li a {
    text-decoration: none; 
    color: #fff; 
}

.menu ul ul {
    display: none; 
}

.menu ul li:hover > ul {
    display: block;
}

.menu ul ul ul {
    margin-right: 125px;
    top: 0;
    position: absolute; 
} 


